@model IEnumerable<lablaptrinhweb.Models.baiViet>
@{
    ViewBag.Title = "blocg";
    Layout = "~/Views/layout/shop_layout_1.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/layout/shop_layout_2.cshtml")

            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Latest From our Blog</h2>
                    @if (Model != null)
                    {
                        foreach (var i in Model)
                        {
                            <div class="single-blog-post">
                                <h3>@i.tenBV</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i> @i.taiKhoan</li>
                                        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                        <li><i class="fa fa-calendar"></i> @i.ngayDang</li>
                                    </ul>
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                                <a href="">
                                    <img src="@i.hinhDD" alt="">
                                </a>
                                <p>@i.noiDung</p>
                                <a class="btn btn-primary" href="">Read More</a>
                            </div>
                        }
                    }
                    else {
                        <h2>khong co bai viet nao</h2>
                    }

                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>